<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close"
                        ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Details for event {{title}}</h4>
            </div>


            <div class="modal-body" ng-controller="eventInfoController">
                <div class="container-fluid">
                    <div class="row">
                        <dl class="dl-horizontal">
                          <dt>Coordinates</dt>
                          <dd>Lat: {{ latitude }}, Lng: {{ longitude }},
                              Depth: {{ depth_in_m / 1000.0 | number:1 }} km</dd>
                          <dt>Magnitude</dt>
                          <dd>{{ magnitude_type }} {{ magnitude | number:1 }}</dd>
                          <dt>Origin Time</dt>
                          <dd>{{ origin_time | date:"yyyy-MM-dd HH:mm:ss Z" }}</dd>
                          <dt>Event Type</dt>
                          <dd>{{ event_type }}</dd>
                          <dt>Evaluation Mode</dt>
                          <dd>{{ evaluation_mode }}</dd>
                          <dt>Public</dt>
                          <dd>{{ public }}</dd>
                          <dt>Site</dt>
                          <dd>{{ site }}</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        ng-click="$hide()">Close
                </button>
            </div>
        </div>
    </div>
</div>